// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// my colors
// $bgColor = #ecf0f1
$homeBgColor = #e6ecf0
$frontColor = #ffffff
$btnBgColor = #B53471
$btnHvColor = #34495e
$footColor = #7f8c8d
$projBgColor = #fafbfc